.app-container {
    display: flex;
    min-height: 100vh;
    position: relative;
    margin-left: 0;
    transition: margin-left 0.3s ease;
    padding: 0.5rem 1rem;

    @media (min-width: 769px) {
        margin-left: 250px;
        padding: 1rem 2rem;
    }

    .main-content {
        flex: 1;
        width: 100%;
        overflow-x: hidden;
        max-width: none; // <-- Cambia esto
        margin: 0; // <-- Cambia esto
        padding: 0; // Opcional: elimina padding si no lo necesitas
    }
}

.sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;

    @media (max-width: 768px) {
        &.active {
            display: block;
        }
    }
}